# Python
__pycache__/
*.pyc
*.pyo

# Env
.env
.venv/
*.env

# Model
*.onnx
*.pb
*.tflite
*.bin

# Log dan output
*.log
*.csv
*.xlsx

# VSCode & Jupyter
.vscode/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
Miniconda3-latest-Linux-x86_64.sh
